#app .news-article .image img{
    max-width: 100%;
}

#app .news-article .content {
    display: none;
}

#app .modal-view {
    display: none;
}

#app .modal-overlay {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(0, 0, 0, 0.6);
}

#app .modal-wrapper {
    background: white;
    width: 70%;
    position: absolute;
    top: 3rem;
    left: 50%;
    padding: 4rem;
    z-index: 101;
    transform: translate(-50%);
}